<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DomowyFastFoodContext" connectionString="metadata=res://*/DomowyFastFoodModel.csdl|res://*/DomowyFastFoodModel.ssdl|res://*/DomowyFastFoodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A8C4GR;initial catalog=DomowyFastFood;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>